# do not check in certificate files
**/*.pem
**/*.pfx
**/*.cer 
**/*.key
.terraform/
.secrets
**/*.secrets
**/*.out
**/*.tfstate
**/*.tfstate.backup
credential/
obj/
bin/
Debug/
Release/
.DS_Store
node_modules/
package-lock.json
yarn.lock
.vs/
.idea/
.user
node_modules/
build/
.idea/
target/
venv/
*.tfstate.lock.info
log/